<!DOCTYPE html>
<html>
<head>
  <link href="/assets/reset.css" rel="stylesheet" type="text/css" />
  <link href="/assets/template.css" rel="stylesheet" type="text/css" />
  <link href="/assets/style.css" rel="stylesheet" type="text/css" />
  <!--[if IE 7]>
  <link href="css/ie7.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  
</head>
<body id="page3">
  <div class="container">
    <div class="top">
      <div class="content">
        <div class="signin_reg">
          <div class="padding">
            <a class="signin" href="<%= new_user_session_path %>">Sign in</a>
            <a href="<%= new_user_registration_path %>">Register</a>
          </div>
        </div>
        <div class="menu">
          <div class="padding">
            <ul>
              <li class="active"><a href="<%= root_url %>"><span>Browse Ads</span></a></li><li><a href="#"><span>Post Ad</span></a></li><li><a href="#"><span>My Profile</span></a></li><li><a href="#"><span>Discussion</span></a></li><li><a href="#"><span>FAQ's</span></a></li><li><a href="#"><span>Deals</span></a></li>
            </ul>
          </div>
        </div>
        <div class="search">
          <div class="padding">
            <form action="" method="post">
              <div class="input" style="margin-left: 175px;">
                <input type="text" name="search" value="" />
              </div>
              <div class="search_ads" style="display: inline;"><a href="#">Search Ads</a><div class="dropdown"><a href="#">All Ads</a><br /><a href="#">Buy and sell</a><br /><a href="#">Cars & Vehicles</a><br /><a href="#">Services</a><br /><a href="#">Housing</a><br /><a href="#">Community</a><br /><a href="#">Pets</a><br /><a href="#">Jobs</a><br /><a href="#">Resumes</a><br /><a href="#">Personals</a></div></div>
            </form>
            <div style="clear: both;"></div>
            <h2 class="page_title" style="margin: -5px 0 2px 180px;">
              <u>
                <%= link_to "Post an Advertisement", post_advertisement_path %>
              </u> <b>-</b> <span>We Drive Your Ads!</span></h2>
          </div>
        </div>
        <div class="change_location">
          <div class="padding">
            <form action="" method="post">
              <span style="color: #bf1e2e; font-weight: bold;">Monrovia and Area:</span>
              <a class="change_location_link" href="#">Change Location</a>
              <div class="dropdown">
                <a href="#">Barclayville</a><br />
                <a href="#">Bensonville</a><br />
                <a href="#">Bopolu</a><br />
                <a href="#">Buchanan</a><br />
                <a href="#">Cesstos City</a><br />
                <a href="#">Fish Town</a><br />
                <a href="#">Foya</a><br />
                <a href="#">Ganta</a><br />
                <a href="#">Gbarnga</a><br />
                <a href="#">Greenville</a><br />
                <a href="#">Harbel</a><br />
                <a href="#">Harper</a><br />
                <a href="#">Kakata</a><br />
                <a href="#">Karnplay</a><br />
                <a href="#">Pleebo</a><br />
                <a href="#">Robertsport</a><br />
                <a href="#">Sacleapea</a><br />
                <a href="#">Sanniquellie</a><br />
                <a href="#">Tubmanburg</a><br />
                <a href="#">Voinjama</a><br />
                <a href="#">Zorzor</a><br />
                <a href="#">Zwedru</a><br />
              </div>
              </div>
            </form>
          </div>
        </div>
        <div style="margin-top: 300px;"></div>
        <h2 class="ie7title" style="margin: 16px 10px 6px 10px; padding: 0 10px 0 30px;">2007 Ford Ranger 4x4 Sport Pickup Truck</h2>
        <div class="icon_box">
          <div class="icon_star"></div> <a href="#">Watch</a>
          <div class="icon_fb"></div> <a href="#">Share</a>
          <div class="icon_print"></div> <a href="#">Print</a>
          <div class="report_ad"><div class="icon_report"></div> <a href="#">Report Ad</a>
            <div class="dropdown"><a href="#">Scam / Prohibited</a><br /><a href="#">Duplicate / spam</a><br /><a href="#">No Longer Relevant</a><br /><a href="#">Mis-categorized</a><br /><form><input type="text" value="Type in a reason" /></form></div>
          </div>
        </div>
        <table style="margin-left: 4px;">
          <tr>
            <td style="width: 33%; vertical-align: top;">
              <div class="box1_top"></div>
              <div class="box1_middle">
                <div class="padding">
                  <div style="width: 306px; height: 300px; border-bottom: solid 1px #bcbec0;">
                    <img src="/assets/truck.large.jpg" style="margin-top: 55px;"/>
                  </div>
                  <div style="height: 70px; margin: 16px 0 0 30px;">
                    <div class="left_button">
                    </div>
                    <div class="view_larger_image">
                      <a href="#" class="VLI">View Larger Image</a>
                    </div>
                    <div class="right_button">
                    </div>
                  </div>
                  <div style="padding: 0px 0px 10px 15px;">
                    <div class="th active">
                      <img src="/assets/truck.th.jpg" />
                    </div>
                    <div class="th">
                      <img src="/assets/truck.th.1.jpg" />
                    </div>
                    <div class="th">
                      <img src="/assets/truck.th.2.jpg" />
                    </div>
                    <div class="th">
                      <img src="/assets/truck.th.3.jpg" />
                    </div>
                    <div class="th">
                      <img src="/assets/truck.th.4.jpg" />
                    </div>
                    <div class="th">
                      <img src="/assets/truck.th.4.jpg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="box1_bottom"></div>
            </td>
            <td style="width: 33%; vertical-align: top;">
              <div class="box1_top"></div>
              <div class="box1_middle">
                <div class="padding">
                  <table class="specs">
                    <tr>
                      <td class="left_col">Category:</td>
                      <td>17-May-2011</td>
                    </tr>
                    <tr>
                      <td class="left_col">Price:</td>
                      <td>$15000</td>
                    </tr>
                    <tr>
                      <td class="left_col">Address:</td>
                      <td>Edmonton, AB TOA, Canada</td>
                    </tr>
                    <tr>
                      <td class="left_col">For Sale By:</td>
                      <td>Owner</td>
                    </tr>
                    <tr>
                      <td class="left_col">Make:</td>
                      <td>Ford</td>
                    </tr>
                    <tr>
                      <td class="left_col">Model:</td>
                      <td>Ranger</td>
                    </tr>
                    <tr>
                      <td class="left_col">Year:</td>
                      <td>2006</td>
                    </tr>
                    <tr>
                      <td class="left_col">Kilometers:</td>
                      <td>121036</td>
                    </tr>
                    <tr>
                      <td class="left_col">Body Type:</td>
                      <td>Pickup Truck</td>
                    </tr>
                    <tr>
                      <td class="left_col">Transmission:</td>
                      <td>Automatic</td>
                    </tr>
                    <tr>
                      <td class="left_col">Colour:</td>
                      <td>Red</td>
                    </tr>
                    <tr>
                      <td class="left_col">Drivetrain:</td>
                      <td>4 x 4</td>
                    </tr>
                    <tr>
                      <td class="left_col">Type:</td>
                      <td>Used</td>
                    </tr>
                    <tr>
                      <td class="left_col">Fuel Type:</td>
                      <td>Gasoline</td>
                    </tr>
                  </table>
                  <div style="margin: 0 12px;">
                    <p class="title">Description:</p>
                    <p class="description">2006 Ford Ranger 4 x 4 Sport, New front brakes, all new tires this spring, great body, no rust, and both interior and exterior are in mint condition, except for the giant hole in the side of the door, and the deployed airbag makes the interior a bit hard to look at, but in the dark its great!
                    $15000 obo Located in Edmonton, AB Please call 780-929-6426</p>
                    <br />
                    <br />
                  </div>
                </div>
              </div>
              <div class="box1_bottom"></div>
            </td>
            <td style="width: 33%; vertical-align: top;">
              <div class="contact_box_top"></div>
              <div class="contact_box_middle">
                <div class="padding">
                  <p class="title">Poster Contact Information</p>
                  <div style="height: 30px;"></div>
                  <div class="indent">
                    <p class="phone">780-929-6426</p>
                    <p class="other_ads"><a href="#">View Poster's other Ads</a></p>
                    <h4>Email Poster</h4>
                    <form>
                      <input style="width: 266px;" type="text" value="Your Email" />
                      <input style="width: 266px;" type="text" value="Your Name" />
                      <input style="width: 266px;" type="text" value="Your Phone" />
                      <textarea style="width: 264px;" name=""></textarea>
                      <div style="position: relative; height: 45px;">
                        <input style="width: 100px; position: absolute; top: 6px; left: 0px;" type="text" value="Verification Code" />
                        <div style="width: 60px; height: 35px; background: url('/assets/icons/page3.png') 0 -178px no-repeat; position: absolute; top: 3px; left: 108px;"></div>
                        <input style="width: 100px; height: 35px; background: transparent url('/assets/icons/page3.png') 0 -220px no-repeat; border: none; position: absolute; top: 4px; left: 170px; cursor: pointer;" type="submit" name="" value="" />
                      </div>
                    </form>
                    <p style="font-size: 11px; text-align: center; color: #353891;">By emailing you agree to our <a href="#" style="text-decoration: underline;">terms & privacy policy</a></p>
                    <div style="clear: both; height: 10px;"></div>
                  </div>
                </div>
              </div>
              <div class="contact_box_bottom"></div>
              <img src="/assets/ad-3.png" style="margin: -20px 0 0 -1px;" />
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="bottom">
      <div class="content">
        <div class="padding">
          <ul class="footer_menu">
            <li class="active"><a href="#"><span>Help</span></a></li>
            <li><a href="#"><span>About</span></a></li>
            <li><a href="#"><span>Privacy Policy</span></a></li>
            <li><a href="#"><span>Terms of Use</span></a></li>
            <li><a class="facebook_link" href="#"><span>Follow us on Facebook</span></a></li>
            <li><a class="twitter_link" href="#"><span>Follow us on Twitter</span></a></li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright &copy; 2011 Kutangaza</p>
      </div>
    </div>
  </div>
  
</body>
</html>