<div class="bottom">
  <div class="content">
    <div class="padding">
      <ul class="footer_menu">
        <li class="active"><a href="#"><span>Help</span></a></li>
        <li><a href="#"><span>About</span></a></li>
        <li><a href="#"><span>Privacy Policy</span></a></li>
        <li><a href="#"><span>Terms of Use</span></a></li>
        <li><a class="facebook_link" href="#"><span>Follow us on Facebook</span></a></li>
        <li><a class="twitter_link" href="#"><span>Follow us on Twitter</span></a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright &copy; 2011 Kutangaza</p>
  </div>
</div>
